*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
--main-color: #6400e4;
--box-shadow: 0px 3px 5px 0px rgba(0,0,0,0);
--hover-shadow: 0px 4px 4px 0px rgba(3,3,3,0.561);
--nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
--light-black:#141c3a;
}
body{
  font-family:"Nunito",sans-serif ;
}
.container
{
  width: 28%;
  margin: 100px auto;
}
form{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
form label
{
  margin: 5px 0;
}
form input[type="email"],[type="password"]
{
  height: 55px;
  margin: 5px 0;
  border: 0.5px solid #b8b8b85d;
  border-radius: 3px;
  padding: 0px 15px;
  font-size: 20px;
  font-family:"Nunito",sans-serif ;
}
form a{
  margin: 10px 0;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
form input[type="submit"]
{
  height: 50px;
  background: var(--main-color);
  font-size: 20px;
  border: none;
  border-radius: 2px;
  color: white;
  box-sizing: var(--box-shadow);
  cursor: pointer;
}
form input[type="submit"]:hover
{
  box-shadow:var(--hover-shadow);
  transform: translate(-3px) ;
}
.footer .images
{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
/* .footer .images i{
  width: 15%;
  height: 50px;
  border: 7px solid #e7e7e7;
  border-radius: 3px;
  transition: 0.3s ease;
} */

.images i {
  font-size: 1.5rem;
}

.images .fa-facebook {
  color: blue;
}

.images .fa-google {
  color: red;
}

.images .fa-linkedin {
  color: blue;
}

.footer .images i:hover
{
  box-sizing:var(--hover-shadow) ;
 cursor: pointer; 
}